.container {
  min-height: 91vh;
  height: auto;
  margin: 0;
}

.container {
  padding-top: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

.table-title {
  font-size: 24px; 
  font-weight: bold; 
  margin-bottom: 16px; 
  margin-left: 20%;
  text-align: center;
}

.entrada {
  width: 17%;
  height: 1cm; 
  font-size: 16px; 
  color: #e712a0;
  border: 1.5px solid #e64cb7;
  padding: 5px;
  box-shadow:  2px 4px rgba(235, 44, 162, 0.2);
}

.container-entrada {
  margin-top: 10px;
  display: flex; 
  align-items: center; 
}

#icon {
  font-size: 30px;
  padding-left: 8px;
  padding-right: 5px;
  padding-top: 10px;
}

